.navbar-brand {
  background: url(../img/phlogo.png) center / contain no-repeat;
  width: 64px;
 -moz-border-radius: 32px;
 -webkit-border-radius: 32px;
 -khtml-border-radius:32px;
 border-radius: 32px;
}